<div id="<%= dom_id user %>" class="w-full">
  <% if action_name != 'show' %>
    <%= link_to user  do %>
      <div class="flex items-center justify-start p-0 m-1 overflow-hidden transition-all rounded shadow hover:scale-105 active:scale-95">
        <% if user.picture_url %>
          <img src="https://picsum.photos/500/500" class="w-20 h-20">
        <% else %>
          <img src="<%= user.picture_url %>" class="w-20 h-20">
        <% end %>
        <h1 class="px-5 font-semibold"> <%= user.username %></h1>
      </div>
    <% end %>
  <% end %>
  <% if action_name == 'show' %>
    <div class="flex flex-col items-center w-full m-1 overflow-hidden">
      <% if user.picture_url %>
        <img src="https://picsum.photos/500/500" class="rounded h-28 w-28">
      <% else %>
        <img src="<%= user.picture_url %>" class="rounded h-28 w-28">
      <% end %>
      <p class="p-4 text-2xl font-semibold"> <%= user.username %> </p>
      <% if current_user && current_user.id == user.id %>
        <div class="flex items-center gap-4 ">
          <%= link_to 'Edit', edit_user_path(user), class: "mt-2 rounded-2xl py-3 px-5 bg-green-500  inline-block font-medium shadow hover:bg-green-600 transition-all active:scale-95" %>
          <%= button_to 'Remove', user_path(user), method: :delete, class: "mt-2 rounded-2xl py-3 px-5 bg-red-500 font-medium shadow hover:bg-red-600 transition-all active:scale-95" %> </div>
      <% end %>
      <% if user.bio %>
        <p class="p-8 py-4 m-auto text-lg font-medium text-center sm:px-[15vw]">
          <%= h(user.bio).gsub(/\n/, '<br/>').html_safe %>
        </p>
      <% end %>
      <div class="grid min-w-full gap-2 p-4 md:grid-cols-2 lg:grid-cols-3">
        <% user.posts.each do |post| %>
          <%= render post %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
