<%= form_with(model: post, class: "contents") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :picture_url %>
    <%= form.text_field :picture_url,
    placeholder: 'https://picsum.photos/700/500',
    required: true,
    class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full transition-all" %>
  </div>
  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title,
    required: true,
    class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full transition-all" %>
  </div>
  <div class="my-5">
    <%= form.label :body %>
    <%= form.text_area :body, rows: 8, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full transition-all" %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-blue-700 active:scale-95 transition-all" %>
  </div>
<% end %>
