<!DOCTYPE html>
<html>
  <head>
    <title>Rails Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="relative flex justify-center w-screen p-8">
      <%= link_to "MBlogs", root_path, class: 'text-4xl font-bold' %>
      <div class="absolute right-4">
        <% if current_user %>
          <%= link_to "Logout", destroy_user_session_path,  'data-turbo-method': :delete, class: 'rounded-xl py-2 px-5 bg-red-500 text-white text-sm block font-medium shadow-xl hover:bg-red-600 transition-all active:scale-95' %>
        <% end %>
      </div>
    </header>
    <% if action_name != 'new' %>
      <nav class="fixed z-50 flex items-center gap-4 bottom-7 right-7">
        <%= link_to '+', new_post_path, class: "rounded-xl py-2 px-5 bg-blue-500 text-white text-3xl block font-medium shadow-xl hover:bg-blue-600 transition-all active:scale-95" %>
      </nav>
    <% end %>
    <main class="container flex mx-auto mb-20">
      <% if notice || alert %>
        <div
          class="fixed z-50 flex flex-col p-4 text-center text-white transition-all -translate-x-1/2 bg-yellow-500 rounded-lg cursor-pointer bottom-28 left-1/2 "
          onclick="
          this.classList.add('opacity-0');
          this.classList.add('-translate-y-2');
          setTimeout( () => { this.remove() }, 1000);
          ">
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <span class="text-gray-500">(click to dismiss)</span>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
